[Unit]
Description=Abuse Analyze Service
After=network.target

[Service]
Environment=ANSIBLE_LOG_PATH=/opt/abuse/logs/analyze/abuse_analyze_ansible.log
Type=simple
ExecStart=/opt/abuse/bin/pythonAbuse /opt/abuse/bin/analyze.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
